h1 {
    display: block; 
    font-family: Georgia;
    text-align: center; 
    width: 500px; 
    height: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
}

h3 {
    font-family: Georgia;
    color: #B4CFB0;
    text-align: center;
}

ul {
    font-family: Georgia;
    color: #789395; 
    font-family: Georgia;
    display: inline-block; 
    width: 120px; 
    height: 130px;
    padding-left: 20px;
    padding-right: 12px;
    padding-bottom: 5px;
    border: 2.5px #789395 solid;
    border-radius: 5px;
    margin-inline-start: 5%;
    background-color: white; 
}

ol {
    font-family: Georgia;
    color: #789395; 
    font-family: Georgia;
    display: inline-block; 
    width: 120px; 
    height: 130px;
    padding-left: 30px;
    padding-right: 12px;
    padding-bottom: 5px;
    border: 2.5px #789395 solid;
    border-radius: 5px;
    margin-inline-start: 5%; 
}

img {
    border-radius: 8px;
    width:200px;
    height:100px; 
    padding-inline: 20px;
}
